@import '../../styles/variables.scss';

.navbar {
  display: flex;
  padding: 1rem 0;
  background-color: $success-color;
  color: $light-color;
}

a {
  color: $light-color;
  text-decoration: none;
}

.menu {
  display: inline-block;
  float: right;
}

.menu > ul {
  list-style:none;
}

.menu > ul > .item {
  display: inline-block;
  margin-right: .5rem;
}